<div class="whole-page bg-light">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="px-4 pb-3 my-5 text-center mt-0 mb-0">
    <div class="overflow-hidden" style="max-height: 35vh;">
      <div class="container px-5">
        <%= image_tag "logo.png", alt: "website logo", class: "img-fluid", width: "30%"%>
      </div>
    </div>
  </div>
  <main class="form-signin pb-4">
    <form>
      <h1 class="h3 mb-3  fw-normal">Sign up</h1>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput"%>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password"%>
      <label for="floatingPassword">Password</label>
    </div>
      <div class="pass_mini">
      <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
      <% end %><br />
      </div>
      <div class="form-floating pb-0 pt-0">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"%>
      <%= f.label :password_confirmation, class: "form-control" %>
    </div>
  
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign up</button>
    </form>
    
</div>

    










  </main>
<% end %>
<%= render "devise/shared/links" %>
