<div class="album py-5 bg-light">
  <div class="pb-4">
    <h1>Listings </h1>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @listings.each do |listing| %>
        <div class="col">
          <div class="card shadow-sm">
            <%if listing.photos.attached?%>
              <%= image_tag listing.photos.first, alt: "designers image", class: "bd-placeholder-img card-img-top", width: "100%", height: "225"%>
            <%else%>
              <%= image_tag "profile-image.jpg", alt: "website logo", class: "bd-placeholder-img card-img-top", width: "100%", height: "225"%>
            <%end%>
            <div class="card-body">
              <h4 class="card-title"><%= sanitize listing.title.html_safe%></h4>
              <p class="card-text"><%= sanitize listing.short_body.html_safe%></p>
              <p class="card-user"><%= listing.user.email%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View', listing, class: "btn btn-sm btn-outline-secondary" %>
                  <% if listing.user_id == current_user.id %>
                    <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-sm btn-outline-secondary" %>
                  <%end%>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
