<div class="Whole-page bg-light">
  <div class= "p-4">
    <h1>My Listings</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive ">
              <table class="table user-list table-striped">
                <thead>
                  <tr>
                    <th><span>Title</span></th>
                    <th><span>Price</span></th>
                    <th class="text-center"><span>Open</span></th>
                    <th><span>Short Body</span></th>
                  </tr>
                </thead>
                <tbody>
                  <% @listings.each do |listing| %>
                    <tr>
                      <td><%= listing.title %></td>
                      <td><%= listing.price %></td>
                      <td><%= listing.open %></td>
                      <td><%= listing.short_body %></td>
                      <td><%= link_to 'Show', listing, {:class => "btn btn-sm btn-outline-secondary"} %></td>
                      <td><%= link_to 'Edit', edit_listing_path(listing), {:class => "btn btn-sm btn-outline-secondary"} %></td>
                      <td><%= link_to "Delete", listing, {:onclick => "return confirm('Are you
                      sure?')", :method => :delete, :class => "btn btn-sm btn-outline-danger"}%></td>
                    </tr>
                  <% end %>
                </table>
                <%= link_to 'New Listing', new_listing_path, {:class => "btn btn-sm btn-outline-secondary"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
