<div class="whole_page bg-light">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <main class="form-signin pb-4">
      <form>
        <h1 class="h3 mb-3 fw-normal">Forgot your password?</h1>
        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput" %>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "w-100 btn btn-sm btn-outline-secondary", type: "submit"%>
        </div>
      <% end %>
    </form>
  </main>
  <%= render "devise/shared/links" %>
</div>
