<p id="notice"><%= notice %></p>

<h1>H Cats</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>Small</th>
      <th>Med</th>
      <th>Large</th>
      <th>Apartment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @h_cats.each do |h_cat| %>
      <tr>
        <td><%= h_cat.listing_id %></td>
        <td><%= h_cat.small %></td>
        <td><%= h_cat.med %></td>
        <td><%= h_cat.large %></td>
        <td><%= h_cat.apartment %></td>
        <td><%= link_to 'Show', h_cat %></td>
        <td><%= link_to 'Edit', edit_h_cat_path(h_cat) %></td>
        <td><%= link_to 'Destroy', h_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New H Cat', new_h_cat_path %>
