<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @h_cat.listing_id %>
</p>

<p>
  <strong>Small:</strong>
  <%= @h_cat.small %>
</p>

<p>
  <strong>Med:</strong>
  <%= @h_cat.med %>
</p>

<p>
  <strong>Large:</strong>
  <%= @h_cat.large %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @h_cat.apartment %>
</p>

<%= link_to 'Edit', edit_h_cat_path(@h_cat) %> |
<%= link_to 'Back', h_cats_path %>
