<%= form_with(model: order) do |form| %>
 <%# #checking to see if user has an address if not they need to add one %>
		<% if GameAddress.where(user_id: current_user.id).empty?%>
	<p>No added addresses please add one to profile to proceed<p>
	<a href="/game_addresses" class=" btn btn-primary" >Add address</a>
		<%else%>
	<% if order.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

			<ul>
				<% order.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= form.label :listing_id %>
		<%= form.text_field :listing_id, :value => params[:listing_id] %>
	</div>

	<div class="field">
		<%= form.label :user_id %>
		<%= form.text_field :user_id, :value => current_user.id %>
	</div>

	<div class="field">
		<%= form.label :purchase_price %>
		<%= form.text_field :purchase_price, :value => Listing.find(params[:listing_id]).price  %>
	</div>


	<div class="field">
		<%= form.label :game_address_id %>
		<%# #drop down menu for address %>
		<%= form.select :game_address_id, options_from_collection_for_select(GameAddress.order(:datacenter).where(user_id: current_user.id), "id", "friendlyaddress", current_user.id) %>
	</div>
 


	<div class="actions">
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-description="Purchase"
data-email="<%= current_user.email %>"
data-amount="<%= (@listing.price * 100).to_i %>"
data-locale="auto"></script>
	</div>
	
<% end %>
<% end %>


<div class='container'>
    <div class="card mx-auto col-md-5 col-8 mt-3 p-0"> <img class='mx-auto pic ' src="https://i.imgur.com/kXUgBQZ.jpg" />
        <div class="card-title d-flex px-4">
            <p class="item text-muted">Barcelona<label class="register">&reg;</label> Chair</p>
            <p>$5760</p>
        </div>
        <div class="card-body">
            <p class="text-muted">Your payment details</p>
            <div class="numbr mb-3"> <i class=" col-1 fas fa-credit-card text-muted p-0"></i> <input class="col-10 p-0" type="text" placeholder="Card Number"> </div>
            <div class="line2 col-lg-12 col-12 mb-4"> <i class="col-1 far fa-calendar-minus text-muted p-0"></i> <input class="cal col-5 p-0" type="text" placeholder="MM/YY"> <i class="col-1 fas fa-lock text-muted"></i> <input class="cvc col-5 p-0" type="text" placeholder="CVC"> </div>
        </div>
        <div class="footer text-center p-0">
            <div class="col-lg-12 col-12 p-0">
                <p class="order">Order Now</p>
            </div>
        </div>
    </div>
</div>