<div class="Whole-body bg-light p-4 pb-5">
  <div class='container'>
    <%= form_with(model: order) do |form| %>
      <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
        <%if @listing.photos.attached?%>
          <%= image_tag @listing.photos.first, alt: "designers image", class: "order-img"  %>
        <%else%>
          <%= image_tag "profile-image.jpg", alt: "website logo", class: "order-img ", height: "350px" %>
        <%end%>
        <div class="card-title d-flex px-4  ">
          <p class="item text-muted justify-content-center "><%= @listing.title %></p>
        </div>
        <%# #checking to see if user has an address if not they need to add one %>
        <% if GameAddress.where(user_id: current_user.id).empty?%>
          <p>No added addresses please add one to profile to proceed
            <p>
              <a href="/game_addresses" class=" btn btn-primary" >Add address</a>
            <%else%>
              <% if order.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
                  <ul>
                    <% order.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
							<div class="card-body border-bottom item text-muted justify-content-center">
							<%= @listing.short_body%>
							</div>
              <div class="card-body">
                <%= form.label :purchase_price %>
                <%= form.text_field :purchase_price, :value => Listing.find(params[:listing_id]).price.to_i  %>
              </div>
              <div class="card-body">
                <%= form.label :game_address_id %>
                <%# #drop down menu for address %>
                <%= form.select :game_address_id, options_from_collection_for_select(GameAddress.order(:datacenter).where(user_id: current_user.id), "id", "friendlyaddress", current_user.id) %>
              </div>
              <div class="actions, footer text-center p-0 p-1">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
							data-description="Purchase"
							data-amount="500"
							data-locale="auto"></script>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
