<div class=" bg-light p-1 m-0">
  <div class='container'>
    <div class="card mx-auto col-md-5 col-8 mt-3 p-0 ">
      <%# # adding cover image to order  %>
      <%if @listing.photos.attached?%>
        <%= image_tag @listing.photos.first, alt: "designers image"%>
      <%else%>
        <%= image_tag "profile-image.jpg", alt: "website logo"%>
      <%end%>
      <div class="card-title d-flex px-4 border-bottom">
        <p class="item text-muted"><%= @listing.title%></p>
        <p>$<%= @listing.price.to_i%></p>
      </div>
      <%= form_with(model: order) do |form| %>
        <%# #checking to see if user has an address if not they need to add one %>
        <% if GameAddress.where(user_id: current_user.id).empty?%>
          <p>No added addresses please add one to profile to proceed
            <p>
              <a href="/game_addresses" class=" btn btn-primary" >Add address</a>
            <%else%>
              <% if order.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
                  <ul>
                    <% order.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <%= form.hidden_field :listing_id, :value => params[:listing_id] %>
              <%= form.hidden_field :purchase_price, :value => Listing.find(params[:listing_id]).price  %>
              <div class="card-body">
                <p class="text-muted">Choose Which In-Game Address</p>
                <div class="field form-control form-group form-select">
                  <%# #drop down menu for address %>
                  <%= form.select :game_address_id, options_from_collection_for_select(GameAddress.order(:datacenter).where(user_id: current_user.id), "id", "friendlyaddress", current_user.id), class: "option-value"%>
                </div>
              </div>
              <div class="footer text-center p-0">
                <div class="col-lg-12 col-12 p-0">
                  <div class="actions">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
										data-description="Purchase"
										data-email="<%= current_user.email %>"
										data-amount="<%= (@listing.price*100).to_i %>"
										data-locale="auto"></script>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
					
        </div>
      </div>
		

    </div>
										