<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>User</th>
      <th>Purchase price</th>
      <th>Game address</th>
      <th>Purchase status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.listing_id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.purchase_price %></td>
        <td><%= order.game_address_id %></td>
        <td><%= order.purchase_status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
