
<div class="card bg-light">
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-black"><%= current_user.email %></li>
          <li class="text-black mt-1"><%= @order.game_address.friendlyaddress.capitalize %></li>
        </ul>
        <hr>
        <div class="col-xl-10">
          <p><strong>Listing:</strong>
          </p>
        </div>
        <div class="col-xl-2">
          <p class="float-end"><%= @order.listing.title %>
          </p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-xl-10">
          <p><strong>Designer:</strong>
          </div>
          <div class="col-xl-2">
            <p class="float-end"><%= @designer.email %></p>
          </p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-xl-10">
          <p><strong>Price:</strong></p>
        </div>
        <div class="col-xl-2">
          <p class="float-end"><%= @order.purchase_price.to_i %>
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>
      <div class="row text-black">
        <div class="col-xl-12">
          <p class="float-end fw-bold"><%= @order.purchase_price.to_i %>
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>
      <div class="text-center" style="margin-top: 70px;">
        <a><%= image_tag "xs-logo.png", alt: "website logo" %></a>
      </div>
    </div>
  </div>
  <%= link_to 'Back', orders_path %>
</div>

</div>
