<div class="whole_page bg-light">
  <p id="notice m0 p0"><%= notice %></p>
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="headin  m0 p-2 ">
          <h2>Reviews</h2>
        </div>
        <% @reviews.each do |review| %>
          <div class="card p-3 mb-5">
            <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <%if current_user.avatar.attached?%>
                  <%= image_tag current_user.avatar, class: "img-fluid img-thumbnail rounded-circle border-0 mb-3 ", width: "70px", height: "32"%>
                <%else%>
                  <%= image_tag "profile-image.jpg", class: "img-fluid img-thumbnail rounded-circle border-0 mb-3 ", width: "70px", height: "32px", margintop: "65px"%>
                <%end%>
                <span><small class="font-weight-bold text-dark"><%= current_user.username.capitalize %>:</small> <small class="font-weight-bold text-secondary"><%= review.title.capitalize %> -   <%= review.description %></small></span> </div>
              <small>Score: <%= review.score %></small>
            </div>
            <div class="action d-flex justify-content-between mt-2 align-items-center">
              <div class="reply px-4"> <small>
                  <% if current_user.id == review.reviewer_id%>
                    <td><%= link_to 'Edit |', edit_review_path(review),class: "text-secondary" %></td>
                    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' },class: "text-danger" %></td>
                  <% end %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
